body {
    text-align: center;
    font-style: inherit;
}

.quadrado {
    text-align: center;
    width: 60px;
    background: rgb(138, 134, 134);
    display: inline-block;
    padding: 40px;
    font-size: 60px;
    margin: 5px;
    cursor: pointer;
    color:rgb(138, 134, 134);
}

.jogador, .vencedor {
    font-style: oblique;
    font-size: 35px;
    margin-top: 13px;
}

button {
    margin-top: 10px;
    width: 100px;
    height: 30px;
    background: rgb(150, 148, 148);
    cursor: pointer;
}